.sidebar{
    margin-top: 80px;
}

.sidebar__links{
    display: flex;
    flex-direction: column;
    width:20vw;
    height:100%;
    align-items: center;
    text-align: center;
    
    box-shadow: 2px 0px 10px -2px black;
    position: fixed;
    padding-top: 60px;

}

.sidebar__link{
    text-decoration: none;
    
    width: 100%;
    background-color: white;
}
.sidebar__link p{
    width: 100%;
    
    font-size: 20px;
    color:teal;
    font-weight: 400;
}
.active-dash{
    background-color: teal;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.active-dash p{
    color:white;
    font-size: 24px;
    font-weight: 700;
   
}